<h1 style="text-align: center">Image Uploader</h1>
<br>
<br>
<div style="text-align: center">
  <form>      
    <div>
      <label for="pan">Pan Card: &nbsp; &nbsp;</label> <br><br>
      <input type="file" name="image1" (change)="selectImage($event)" accept="image/*" />
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" >Upload</button>
    </div>
    <br><br>
    <div>
      <label for="aandhar-front">Aandhar Card Front: &nbsp; &nbsp;</label> <br><br>
      <input type="file" name="image2" (change)="selectImage($event)" accept="image/*" />
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" >Upload</button>
    </div>
    <br><br>
    <div>
      <label for="aandhar-back">Aandhar Card Back: &nbsp; &nbsp;</label> <br><br>
      <input type="file" name="image3" (change)="selectImage($event)" accept="image/*" />
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" >Upload</button>
    </div>
    <br><br>
    <div>
      <label for="profile-picture">Profile Picture: &nbsp; &nbsp;</label> <br><br>
      <input type="file" name="image4" (change)="selectImage($event)" accept="image/*" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onSubmit()" >Upload</button>
    </div>
  </form>
</div>
